/* hovedside.css*/ 
/* fonts 

    font-family: 'Space Mono', monospace;

    font-family: 'Montserrat', sans-serif;

*/


	
body { 
    background: url(../images/cream_dust.png) repeat 0 0;
}

h1 {
	font-family: 'Jomolhari', sans-serif;
	font-size: 300%;
	text-align: center; 

}
h2 { 
  font-family: 'Jomolhari', monospace; 
  font-size: 200%; 
  text-align: left; 
 }
 #skille {
  border-top: 10px groove dodgerblue;
  margin: 10px;
  padding: 10px;

}

p {
	font-family: 'Roboto', sans-serif; 

}

.flex-container {
  display: flex;
  height: auto;
  align-items: center;
  background-color: DodgerBlue;
  width: auto;
}

.flex-container > div {
  background-color: white;
  width: 500px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;

}


img {
	height: 20%;
	width: 20% 

}
.mellomrom { 
  padding-bottom: 20px;
 }

footer {
  background-color: #2b2a26;
  padding: 10px;
  text-align: left;
  color: white;

}
.alt {
  display: flex;
  flex-wrap: wrap;
}

.sluttekst {
  width: 32%;
  flex-direction: row;
  padding: 5px;
  text-align: center;
  font-size: 12px;
}


