
.flex-container {
  display: flex;
  height: auto;
  align-items: center;
  background-color: DodgerBlue;
  width: auto;
}

.flex-container > div {
  background-color: white;
  width: 25%;
  margin: 10px;
  text-align: center;
  line-height: 10px;
  font-size: 18px;
}
h1 {
	font-family: 'Jomolhari', sans-serif;
	font-size: 300%;
	text-align: center; 
}

#skille {
	border-top: 10px groove dodgerblue;
	margin: 10px;
	padding: 10px;

}

h2 { 
	font-family: 'Jomolhari', sans-serif; 
	font-size: 200%; 
	font-weight: bold;

}
h4 {
	text-align: center; 
}
p {
	font-family: 'roboto', sans-serif; 
	font-size: 150%;
}

.main { 

	background-color: blue; 
	width: 75%
 }

 #produkt {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  padding: 20px; 
  margin: 10px;

}
#produkt td, #representanter th{
	border: 1px solid black; 
	padding: 8px;
	margin: 10px;
	

} 

#produkt tr:nth-child(even){
	background-color: black;
}

#produkt tr:hover {
	background-color:black ; 
}
#produkt td {
	padding-bottom: 12px; 
	padding-top: 12px; 
	text-align: left;
    background-color: dodgerblue;
    color: white;
    margin: 10px;

}
.Telemark { 
	border: 5px solid dodgerblue; 
	padding: 10px; 
	margin: 10px;		
 }


#bilde {
 	width: 100%;
 	height: auto;
 	padding: 10px;
 	position: relative;

 }

		
